* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #333;
}

.cuadrado-amarillo {
  height: 150px;
  width: 150px;
  border: 1px solid yellow;
  position: relative;
  top: 10px;
}

.cuadrado-rosa {
  height: 150px;
  width: 150px;
  border: 1px solid pink;
  position: relative;
  left: calc(50% - 75px);
}

.boton-flotante {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #eee;
  position: absolute;
  bottom: 15px;
  left: 15px
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #bbb;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}

.card span {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
}