* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  /*
  Propiedad para que los links internos
  de una página hagan el  scroll 
  con aceleración 
  */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #333;
}

.cuadrado-amarillo {
  height: 150px;
  width: 150px;
  border: 1px solid yellow;
  position: relative;
  top: 10px;
}

.cuadrado-rosa {
  height: 150px;
  width: 150px;
  border: 1px solid pink;
  position: relative;
  left: calc(50% - 75px);
}

.boton-flotante {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #eee;
  position: absolute;
  bottom: 15px;
  left: 15px
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #bbb;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card span {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  transition: all 0.4s ease-in-out;
}

.card img {
  transition: all 0.3s ease;
}

.card:hover img {
  filter: blur(2px);
}

.card:hover span {
  top: 50%;
  right: 50%;
  /* transform: translate(0, -50%); */
  /*Cuando usamos transform:translate, si las medidas
  están en porcentaje, dicho porcentaje se basan en referencia
  al ancho y alto del mismo elemento;*/
  transform: translate(50%, -50%);
}

.boton-fixed {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #eee;
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  padding-top: 5px;
}

.boton-fixed a {
  color: #eee;
}