/*

De cada grupo de elementos, el que ocupe
la 3ra posición, será afectado

elemento:nth-child(3)
*/

tr:nth-child(3) {
  background-color: #eee;
}

/*odd IMPART*/

tbody tr:nth-child(odd) {
  background-color: #ccc;
}

/*even PAR*/

tbody tr:nth-child(even) {
  background-color: #aaa;
}