:root {
  --color-primario: #c3372a;
  --color-secundario: rgb(40, 176, 200);
  --color-rojo-transparente: rgba(200, 55, 63, 0.5);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1 {
  color: var(--color-primario);
  background-color: #ddd;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.form-control {
  margin-bottom: 5px;
  margin-left: 10px;
  border: none;
  outline: none;
  padding: 8px 8px 8px 30px;
  border: 1px dashed #f17469;
  border-bottom: 3px solid var(--color-primario);
  background-image: url("./../imagenesGlobal/icono_id.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 24px 24px;
  border-radius: 5px;
}

/*cuando el input tiene el cursor dentro de sí*/

.form-control:focus {
  background-image: url("./../imagenesGlobal/icono_id_hover.png");
  border: 1px solid #f17469;
}

.cuadrado {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--color-secundario);
  padding: 15px;
}

/*tamaños*/

.seccion1 {
  background-color: var(--color-primario);
  height: 60px;
  /*50% del ancho del padre*/
  width: 50%;
}

.articulo1 {
  background-color: var(--color-secundario);
  height: 30px;
  width: 50%;
}

.parrafo1 {
  width: 200px;
  height: 100px;
  background-color: #ddd;
  /*overflow sirve para controlar el desbordamiento
  del contenido de un elemento*/
  overflow: auto;
}

/*
Personalizando el SCROLLBAR
*/

.parrafo1::-webkit-scrollbar {
  width: 5px;
  /*ancho del scroll vertical*/
}

.parrafo1::-webkit-scrollbar-thumb {
  /*la barrita de desplazamiento*/
  border-radius: 5px;
  background-color: #777;
  box-shadow: 0px 0px 5px #444;
}

.parrafo1::-webkit-scrollbar-track {
  /*La pista por donde se desplaza la barrita*/
  background-color: #ddd;
}

/*OJO: Los elementos INLINE no pueden tener 
ancho ni alto definido*/

.badge-rojo {
  width: 100px;
  height: 100px;
  background-color: #991123;
}

.imagen {
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
}