* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.cuadrado {
  width: 200px;
  height: 200px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  /* box-shadow: [pixeles-eje-X] [pixeles-eje-Y] [difuminado] [color]; */
  /*inset valor adicional para que la sombra sea interna*/
  box-shadow: 0px 0px 8px #bbb;
  border-radius: 8px;
}

.cuadrado:hover {
  box-shadow: 0px 0px 4px #bbb;
}


h1{
  text-shadow: 3px 0px 2px #bbb;
}