* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header {
  height: 60px;
  border: 1px solid black;
  display: flex;
  padding: 0 2rem;
  align-items: center;
}

.header__nav {
  flex: 1;
  
}

.header__cart {
  
}

.header__links {
  /*flex-direction:row*/
  
  display: flex;
  justify-content: center;
  list-style: none;
  /*gap: define un espacio entre hijo 
  e hijo en el eje principal */
  gap: 2rem
}